article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  article {
    width: 100%;
    height: auto;
  }
}

.wrapper {
  background: #fff;
  border: 1px solid #000;
  margin-bottom: 20px;
  padding: 20px;
}

.highlight {
  background: yellow;
}
