.wrapper {
  background: #fff;
  border: 1px dashed #000;
  margin-bottom: 20px;
  min-height: 180px;
  padding: 8px;
}

.highlight {
  background: yellow;
  display: inline-block;
  margin-top: 10px;
}
