<nav>
  <ul>
    <li><a href="#">London</a></li>
    <li><a href="#">Paris</a></li>
    <li><a href="#">Tokyo</a></li>
  </ul>

  <div class="wrapper">
    <h4>Parent Component</h4>
    <div><input type="text" #parentcomponent (keyup)="0" /></div>
    <p>Value of <strong>CHILD</strong> component is:<br><span class="highlight">{{ ChildData }}</span></p>
  </div>

  <ng-content></ng-content>

  <app-nav-inner [ParentData]="parentcomponent.value" (childEvent)="ChildData=$event"></app-nav-inner>

  <div class="wrapper">
    <input type="text" #testViewChild />
    <p><button (click)="testingViewChildFunc()">Test @ViewChild()</button></p>
  </div>
</nav>
